a.interwiki {
    background: transparent url(../png/interwiki.png) 0px 1px no-repeat;
    padding-left: 16px;
}
a.iw_wp {
    background-image: url(../gif/wp.gif);
}
a.iw_wpde {
    background-image: url(../gif/wpde.gif);
}
a.iw_wpmeta {
    background-image: url(../gif/wpmeta.gif);
}
a.iw_doku {
    background-image: url(../gif/doku.gif);
}
a.iw_sb {
    background-image: url(../gif/sb.gif);
}
a.iw_amazon {
    background-image: url(../gif/amazon.html);
}
a.iw_amazon_de {
    background-image: url(../gif/amazon.de.html);
}
a.iw_amazon_uk {
    background-image: url(../gif/amazon.uk.html);
}
a.iw_phpfn {
    background-image: url(../gif/phpfn.gif);
}
a.iw_dokubug {
    background-image: url(../gif/dokubug.gif);
}
a.iw_coral {
    background-image: url(../gif/coral.gif);
}
a.iw_google {
    background-image: url(../gif/google.gif);
}
a.iw_meatball {
    background-image: url(../gif/meatball.gif);
}
a.iw_wiki {
    background-image: url(../gif/wiki.gif);
}
a.mediafile {
    background: transparent url(../png/file.png) 0px 1px no-repeat;
    padding-bottom: 1px;
    padding-left: 18px;
}
a.mf_jpg {
    background-image: url(../png/jpg.png);
}
a.mf_jpeg {
    background-image: url(../png/jpeg.png);
}
a.mf_gif {
    background-image: url(../png/gif.png);
}
a.mf_png {
    background-image: url(../png/png.png);
}
a.mf_tgz {
    background-image: url(../png/tgz.png);
}
a.mf_tar {
    background-image: url(../png/tar.png);
}
a.mf_gz {
    background-image: url(../png/gz.png);
}
a.mf_zip {
    background-image: url(../png/zip.png);
}
a.mf_rar {
    background-image: url(../png/rar.png);
}
a.mf_pdf {
    background-image: url(../png/pdf.png);
}
a.mf_ps {
    background-image: url(../png/ps.png);
}
a.mf_doc {
    background-image: url(../png/doc.png);
}
a.mf_xls {
    background-image: url(../png/xls.png);
}
a.mf_ppt {
    background-image: url(../png/ppt.png);
}
a.mf_rtf {
    background-image: url(../png/rtf.png);
}
a.mf_swf {
    background-image: url(../png/swf.png);
}
a.mf_rpm {
    background-image: url(../png/rpm.png);
}
a.mf_deb {
    background-image: url(../png/deb.png);
}
a.mf_sxw {
    background-image: url(../png/sxw.png);
}
a.mf_sxc {
    background-image: url(../png/sxc.png);
}
a.mf_sxi {
    background-image: url(../png/sxi.png);
}
a.mf_sxd {
    background-image: url(../png/sxd.png);
}
a.mf_odc {
    background-image: url(../png/odc.png);
}
a.mf_odf {
    background-image: url(../png/odf.png);
}
a.mf_odg {
    background-image: url(../png/odg.png);
}
a.mf_odi {
    background-image: url(../png/odi.png);
}
a.mf_odp {
    background-image: url(../png/odp.png);
}
a.mf_ods {
    background-image: url(../png/ods.png);
}
a.mf_odt {
    background-image: url(../png/odt.png);
}